<!DOCTYPE html>
<html>
<head>
  <title>Registros</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();
    socket.on('actualizarTabla', () => {
      location.reload();
    });
  </script>
</head>
<body>
  <div class="container mt-5">
    <h1 class="mb-4">Registros</h1>
    
    <!-- Formulario de búsqueda -->
    <form method="GET" action="/" class="form-inline mb-4">
      <div class="form-group mr-2">
        <label for="fecha" class="mr-2">Fecha:</label>
        <input type="date" id="fecha" name="fecha" class="form-control" value="<%= fecha %>">
      </div>
      <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
    
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>DNI</th>
          <th>Cargo</th>
          <th>Hora y Fecha</th>
        </tr>
      </thead>
      <tbody>
        <% rows.forEach(row => { %>
          <tr>
            <td><%= row.id %></td>
            <td><%= row.nombre %></td>
            <td><%= row.DNI %></td>
            <td><%= row.nombre_cargo %></td>
            <td><%= new Date(row.fecha_hora).toLocaleTimeString('es-ES', { hour: '2-digit', minute: '2-digit' }) %> <%= new Date(row.fecha_hora).toLocaleDateString('es-ES') %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>

    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        <% if (page > 1) { %>
          <li class="page-item"><a class="page-link" href="?page=<%= page - 1 %>&fecha=<%= fecha %>">Previous</a></li>
        <% } else { %>
          <li class="page-item disabled"><span class="page-link">Previous</span></li>
        <% } %>
        
        <% for (let i = 1; i <= totalPages; i++) { %>
          <li class="page-item <%= page === i ? 'active' : '' %>"><a class="page-link" href="?page=<%= i %>&fecha=<%= fecha %>"><%= i %></a></li>
        <% } %>

        <% if (page < totalPages) { %>
          <li class="page-item"><a class="page-link" href="?page=<%= page + 1 %>&fecha=<%= fecha %>">Next</a></li>
        <% } else { %>
          <li class="page-item disabled"><span class="page-link">Next</span></li>
        <% } %>
      </ul>
    </nav>
  </div>
</body>
</html>
